colorama==0.4.6
distlib==0.3.4
filelock==3.7.1
gunicorn==22.0.0
MarkupSafe==2.1.5
packaging==24.0
parse==1.19.0
platformdirs==2.5.2
six==1.16.0
urllib3==2.2.1
virtualenv==20.14.1
virtualenv-clone==0.5.7
Werkzeug==2.0.1
zipp==3.18.1
